@model ThucHanhLW2.Models.Following

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Followee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Followee.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Hủy đăng ký" class="btn btn-default" /> |
        @Html.ActionLink("Quay lại danh sách theo dõi", "Index")
    </div>
    }
</div>
